    	<nav class="navbar navbar-default navbar-fixed-top" th:fragment="navBar">
    		<div class="container">
	    		<!-- Logo -->
	    		<div class="navbar-header">
	    			<a class="navbar-brand" href="#">My Blogeroo</a>
	    		</div>
	    		
	    		<!-- Menu Items -->
	    		<div>
	    			<ul class="nav navbar-nav">
	    				<li class="active"><a href="/myWebApp">Home</a></li>
	    				<li class="active"><a href="/myWebApp">Blog Entries</a></li>
	    				<li class="active"><a href="/myWebApp">Professional Profile</a></li>
	    				<li class="active"><a href="/myWebApp">About</a></li>
	    			</ul>
	    		</div>
    		</div>
    	</nav>