body { 
    padding-top: 65px;
    padding-bottom: 65px;
}

.lead {
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 0.4;
}

#blog-post {
	margin-bottom: 50px;
}

hr {
	margin-top:10px;
	margin-bottom: 10px;
}